.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 5%;
  background-color: rgba(0, 0, 0, 0.75);
  color: #e5e5e5;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  transition: background-color 0.3s ease;
  backdrop-filter: blur(10px);
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navbar-left img {
  width: 100px;
  height: auto;
  object-fit: contain;
  cursor: pointer;
}


.navbar-left ul {
  list-style: none;
  display: flex;
  gap: 24px;
  margin: 0;
  padding: 0;
}

.navbar-left li {
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  transition: color 0.3s ease;
}

.navbar-left li:hover {
  color: #ffffff;
  text-decoration: underline;
}


.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 14px;
  font-weight: 500;
}

.navbar-right p {
  margin: 0;
  cursor: pointer;
  transition: color 0.3s ease;
}

.navbar-right p:hover {
  color: #fff;
}

.navbar-profile {
  width: 32px;
  height: 32px;
  background-color: gray;
  border-radius: 50%;
}


@media (max-width: 768px) {
  .navbar-left ul {
    display: none;
  }

  .navbar {
    padding: 15px 5%;
  }

  .navbar-left {
    gap: 10px;
  }

  .navbar-right {
    gap: 12px;
  }

  .navbar-left img {
    width: 80px;
  }
}
